<div class="dashboard">

  <!-- HEADER -->
  <div class="header">
    <p class="welcome-text">
      Welcome back, <strong>{{ userName }}</strong>
    </p>

    <button class="logout-btn" (click)="onLogout()">
      Logout
    </button>
  </div>

  <!-- INSTRUMENT -->
  <div class="instrument-bar">

    <label>Instrument</label>

    <div class="instrument-dropdown-container">

      <div
        class="instrument-selected"
        (click)="toggleDropdown()">

        {{ selectedInstrument?.symbol || 'Select' }}

        <span
          class="status-badge"
          [class.active]="selectedInstrument && !selectedInstrument.halted"
          [class.halted]="selectedInstrument?.halted">

          {{ selectedInstrument?.halted ? 'HALTED' : 'ACTIVE' }}

        </span>

      </div>

      <div
        class="instrument-menu"
        *ngIf="dropdownOpen">

        <div
          class="instrument-item"
          *ngFor="let inst of instruments"
          (click)="selectInstrument(inst)">

          {{ inst.symbol }}

          <span
            class="status-badge"
            [class.active]="!inst.halted"
            [class.halted]="inst.halted">

            {{ inst.halted ? 'HALTED' : 'ACTIVE' }}

          </span>

        </div>

      </div>

    </div>

  </div>

  <!-- NAV -->
  <div class="dashboard-nav">
    <button routerLink="orders">Orders</button>
    <button routerLink="trades">Trades</button>
    <button routerLink="depth">Order-Book</button>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
